# Runtime data
data/

# Upload queue
queue/

# Logs
logs/

# Build folders
build/
build-tools/

# Visual Studio
.vs/
*.obj
*.pdb
*.ilk
*.tlog
*.log

# PlatformIO
.pio/
src/provisioning/DeviceCredentials.local.h

# VSCode
.vscode/

# Executables
*.exe
*.dll
